.DS_Store
Builds/MacOSX/Build/
**/xcuserdata/
*.xcuserstate
input.wav
output.wav
venv/
__pycache__/
*.pyc
*.sh
*wav
sansamptest/
peaks/
Plugins/SansAmpClone/JuceLibraryCode/
Plugins/SansAmpClone/Builds/MacOSX/SansAmpClone.xcodeproj/xcshareddata/
*.xcuserstate
**/xcuserdata/

peaks/
*.reapeaks
sansamptest/Backups/
sansamptest/Media/

sansamp_weights_pytorch_backup.json

RTNeural/
venv/
**/Builds/MacOSX/Build/